<h1 class="text-xl font-bold mb-4">プロフィール登録</h1>

<%= render "form", profile: @profile %>

<%= link_to "ログイン画面に戻る", destroy_user_session_path, data: { turbo_method: :delete, turbo_confirm: "ログアウトしますか？" } %>
